
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2px;
    background-color: #77badf;
    padding: 2px;
    color: grey;
    

}

.grid-header {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    
    
}
  
.grid-item {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    text-transform: capitalize;
    
}

.grid-count {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
}

.grid-price {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
}

.grid-total  {
    grid-column:1 /3;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
}


.grid-delete {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    font-size: 10px;
}

.img-delete:hover {
    cursor: pointer;
}

.grid-suma  {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
}
 
  
  .btn-grad {background-image: linear-gradient(to right, #43cea2 0%, #185a9d  51%, #43cea2  100%)}

  .btn-grad {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
     padding: 20px 0;
    cursor: pointer;
   }

   .btn-grad:hover {
     background-position: right center; 
     color: lightgray;
     text-decoration: none;
   }
  