card-img { 
    width: "200px"; 
    height: "260px";
    margin-right: "auto";
    margin-left: "auto"; 
   

}

card-item { width: "18rem";
    margin-right: "auto";
    margin-left: "auto"; 
    
    
}