

.navBrand{
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    
}

.navLink {
    text-decoration: none;
    color: whitesmoke;
}

.navLink:hover{
    color: lightgray;
}

.navBrand:hover{
    color: lightgray;
}


